VITE_API_URL=http://localhost:3001
VITE_OAUTH_AUTHORITY=https://sso.matheo.si/application/o/park-flow
VITE_OAUTH_CLIENT_ID=V9RNWkqNeQq8FhnTCxnPr3hhlQLoBXHkp0k8k95j
VITE_OAUTH_REDIRECT_URI=http://localhost:5173/callback
VITE_OAUTH_ADMIN_GROUP=parkflow-admins
