DATABASE_URL=postgresql://user:password@localhost:5432/parkflow
PORT=3001
AUTHENTIK_USERINFO_URL=https://sso.matheo.si/application/o/userinfo/
AUTHENTIK_ADMIN_GROUP=parkflow-admins

TIMESHEET_API_URL=

TIMESHEET_APP_ID=
TIMESHEET_SECRET=
